/**************************************
    GENERAL PAGE SETTINGS
***************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: 'PT Sans', sans-serif;
}

/**************************************
    GENERAL TAG SETTINGS
***************************************/
nav {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #0084fd ;
}
section{
    width: 100%;
    /* debug */
}
section.sec.violet{
    background-color: #9792e4;
    padding-bottom: 1rem;
}
section#first {
    margin-top: 50px;
}
section.sec.white {
    background-color: white;
}
footer{
    background-color: #333333;
    width: 100%;
    /* debug */
}
aside{
    width: 100%;
    height: 50%;
}
div.container {
    width: 100%;
}
div.all {
    width: 80%;
    margin: 0 auto;
}
div.half {
    height: 100%;
    width: 50%;
    margin: 0 auto;
}
.btn {
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 2px 5px;
}
.btn:hover{
    color: #858585;
    cursor: pointer;
    box-shadow: 2px 2px rgba(0,0,0,0.3);
}
.btn:active {
    box-shadow: none;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
/**************************************
    NAV SETTINGS
***************************************/
nav .row{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
nav ul li img {
    max-width: 75%;
}
nav ul,
nav ul.hidden_ham {
    display: flex;
    list-style: none;
    margin-top: 13px;
}
nav ul.hidden_ham{
    display: none;
}
nav li {
    margin-right: 20px;
}
nav li:last-child {
    margin: 0;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline 1px solid white;
}

@media all and (max-width:768px) {
    div.all{
        width: 80%;
        margin: 0 auto;
    }
    nav ul:nth-child(2) {
        display: none;
    }
    nav ul.hidden_ham {
        color: white;
        display: flex;
    }
    
}

/**************************************
    1st SEC SETTINGS
***************************************/
/* big col settings */
#demo {
    width:calc(((100% / 3) * 2) - 2rem);
    margin: 1rem;
    display: flex;
}
#demo .demo-sx {
    width: 60%;
}
#demo .demo-dx {
    width: 40%;
    position: relative;
}
.demo-dx img{
    position: absolute;
    bottom: 0;
    left: 1rem;
    height: 90%;
    width: 90%;
    z-index: 0;
}
.demo-sx h3 {
    margin: 3rem 0;
}
.demo-sx p {
    margin-bottom: 3rem;
}
.demo-sx .btn{
    width: fit-content;
    margin-bottom: 2rem;
    background-color: #0084fd;
    color: white;
    padding: 0.2rem 1rem ;
}
/* col settings */
.col {
    width: calc((100% / 3) - 1rem);
    margin: 0.5rem;
    background-color: #b5ddff;
    border-radius: 1.5rem;
    padding: 0 2rem;
}
.col h3{
    color:#0084fd ;
}
.col p {
    color:#5d7183;
    font-weight: 600;
}
.col-img{
    text-align: center;
    width: 100%;
    margin: 1rem auto;
    height: fit-content;
}
.col-img i {
    font-size: 6rem;
    color:#0084fd;
    margin: 1rem 0;
}
.col-txt{
    text-align: center;
}
.col-txt p,
.col-txt h3 {
    margin: 1rem 0;
}
@media all and (max-width: 768px){
    section#first .row{
        padding-top: 1rem;
        display: block;
    }
    section#first .col {
        display: block;
        width: 100%;
        text-align:justify;
        margin: 0;
    }
    #demo{
        margin: 0;
        width: auto;
    }
    #demo .demo-sx {
        width: fit-content;
        padding: 0.5rem 0;
    }
    #demo .demo-dx {
        width: fit-content;
    }
    #demo .demo-dx img{
        width: 80;
        position: relative;
    }
    .col-txt p,
    .col-txt h3 {
        padding-bottom: 1rem;
    }
}
/**************************************
    2nd SEC SETTINGS
***************************************/
.row-2{
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.col-sec2 img{
    max-width: 100%;
}
.col-sec2 {
    width: 50%;
} 
.col-sec2.right {
    width: 50%;
    margin-top: 5rem;
    background-color: white;
    border-radius: 2.5rem;
    text-align: center;
    padding: 1rem;
    align-self: flex-end;
}
.col-sec2.left {
    height: 100%;
    padding:1rem;
    align-self: flex-start;
    width: 50%;
}
.col-sec2.left img{
    margin-top: 1rem;
}
.col-sec2.right .btn{
    width: fit-content;
    margin: auto;
    background-color: #9792e4;
    border-radius: 50%;
}
.col-sec2.right h3,
.col-sec2.right p,
.col-sec2.left h3,
.col-sec2.left p {
    margin: 2rem 0;
}
@media all and (max-width:600px) {
    .row-2 {
        width: 100%;
        display: block;
    }
    .col-sec2.left img{
        margin-bottom: 0;
    }
    .col-sec2.right {
        min-width: 100%;
        padding-bottom: 2rem;
        margin-bottom: 1rem;
    }
    .col-sec2.right img{
        min-width: 100%;
        margin: 0;
    }
    .col-sec2.left {
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }
}
/**************************************
    3rd SEC SETTINGS
***************************************/
.column.sec3 {
    text-align: center;
    padding: 2rem;
}
.column.sec3 span{
    display: block;
}
.column.sec3 h3 {
    color: #9792e4;
}
.column.sec3 span,
.column.sec3 h3,
.column.sec3 p {
    margin-bottom: 1rem;
}
.col-sec3{
    display: flex;
    background-color: #9792e4;
    border-radius: 2rem;
    margin: 1rem 0;
}
.sec3-img {
    margin: 2rem 2rem;
    padding: 5rem;
    max-width: 100%;
    background-image: url("../img/testimonial1.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.sec3-img.two{
    background-image: url(../img/testimonial2.jpg);
}
.sec3-img.three {
    background-image: url(../img/testimonial3.jpg);
}
.sec3-txt {
    padding: 0 2rem;
    color: white;
}
.sec3-txt p {
    text-align: left;
    margin-top: 4rem;
}
.sec3-txt span{
    display: block;
    text-align: left;
    margin-top: 1rem;
    font-weight: 600;
}
@media all and (max-width:767px) {
    .col-sec3 {
        padding: 2rem;
        display: block;
    }
    .sec3-img {
        padding:8rem;
        height: 40%;
    }
    .column.sec3 span {
        text-align: center;
    }
    .sec3-img {
        padding:6rem;
    }
}
@media all and (min-width: 768px){
    .col-sec3 {
        display: flex;
    }
}
/**************************************
    4th SEC SETTINGS
***************************************/
/* mobile first ver */
@media all and (max-width:767px) {
    .row.sec4 {
        display: block;
        width: 90%;
        margin: 0 auto;
        padding-top: 1rem;
    }
    .row.sec4 h3 {
        text-align: center;
        font-size: 2rem;
        color:white;
        margin: 1rem;
    }
    .col.sec4 {
        width: 100%;
        background-color: white;
        padding: 1rem 0;
    }
    .col.sec4 .btn{
        padding: 0.1rem 1rem;
        background-color: #9792e4;
        color: white;
        width: 30%;
        margin: 0 auto;
    }
    .col.sec4 h2,
    .col.sec4 h3 {
        color: #9792e4;
        margin: 1rem;
        font-size: 2rem;
        text-align: left;
    }
    .col.sec4 p {
        font-weight: 100;
        margin: 1rem 1rem;
    }
}
/* tablet version */
@media all and (min-width:768px){
        .container.all h3{
        padding-top: 2rem;
        text-align: center;
        margin: 2rem;
        font-size: 2rem;
        color: #ffffff;
    }
    .row.sec4{
        display: flex;
        flex-wrap: wrap;
    }
    .col.sec4 {
        width: calc((100% / 2) - 1rem);
        background-color: white;
        padding: 0.5rem;
    }
    .col.sec4 h2,
    .col.sec4 h3 {
        color: #9792e4;
        margin: 1rem;
        font-size: 2rem;
        text-align: left;
    }
    .col.sec4 .btn{
        padding: 0.1rem 1rem;
        background-color: #9792e4;
        color: white;
        width: 30%;
        margin: 0 auto;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .col.sec4 p {
        font-weight: 100;
        margin: 1rem 1rem;
    }
}
/* desktop version */
@media all and (max-width:767px) {
        .container.all h3{
        padding-top: 2rem;
        text-align: center;
        margin: 2rem;
        font-size: 2rem;
        color: #ffffff;
    }
    .row.sec4 {
        display: block;
        width: 90%;
        margin: 0 auto;
        padding-top: 1rem;
    }

    .row.sec4 h3 {
        text-align: center;
        font-size: 2rem;
        color: white;
        margin: 1rem;
    }

    .col.sec4 {
        width: 100%;
        background-color: white;
        padding: 1rem 0;
    }

    .col.sec4 .btn {
        padding: 0.1rem 1rem;
        background-color: #9792e4;
        color: white;
        width: 30%;
        margin: 0 auto;
    }

    .col.sec4 h2,
    .col.sec4 h3 {
        color: #9792e4;
        margin: 1rem;
        font-size: 2rem;
        text-align: left;
    }

    .col.sec4 p {
        font-weight: 100;
        margin: 1rem 1rem;
    }
}

/* tablet version */
@media all and (min-width:1200px){
    .container.all h3{
        padding-top: 2rem;
        text-align: center;
        margin: 2rem;
        font-size: 2rem;
        color: #ffffff;
    }
    .row.sec4 {
        display: flex;
        flex-wrap: wrap;
    }

    .col.sec4 {
        width: calc((100% / 3) - 1rem);
        margin: 0.5rem;
        background-color: white;
        padding: 0.5rem;
    }

    .col.sec4 h2,
    .col.sec4 h3 {
        color: #9792e4;
        margin: 1rem;
        font-size: 2rem;
        text-align: left;
    }

    .col.sec4 .btn {
        padding: 0.1rem 1rem;
        background-color: #9792e4;
        color: white;
        width: 30%;
        margin: 0 auto;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .col.sec4 p {
        font-weight: 100;
        margin: 1rem 1rem;
    }
}
/**************************************
    5th SEC SETTINGS
***************************************/
/* mobile version */
@media all and (min-width:480px) {
    .row {
        width: 90%;
        margin:0 auto;
        display: block;
    }
    .col {
        width: 100%;
        height: fit-content;
        background: white;
        color: black;
    }
    .col.sx h2{
        margin: 2rem 0 ;
    }
    .col.sx p {
        font-weight: 100;
        margin: 1rem 0;
    }
    .sec5-img img {
        max-width: 100%;
        border-radius: 50%;
    }
    .sec5-img {
        position: relative;
        width: 50%;
        margin: 0;
    }
    .sec5-img i.fa-solid{
        position: absolute;
        top:-1rem;
        right: -1rem;
        font-size: 4rem;
        color:#9792e4;
    }
    .sec5-txt {
        max-width: 90%;
    }
    .sec5-txt .btn{
        background-color: #9792e4;
        color: white;
        padding: 0.2rem 1rem;
    }
    .sec5-txt h4 {
        color:#9792e4;
        margin: 1rem 0;
    }
}
/* tablet version */
@media all and (min-width:480px) {
    .row {
        width: 90%;
        margin: 0 auto;
        display: block;
    }

    .col {
        width: 100%;
        height: fit-content;
        background: white;
        color: black;
    }

    .col.sx h2 {
        margin: 2rem 0;
    }

    .col.sx p {
        font-weight: 100;
        margin: 1rem 0;
    }

    .sec5-img img {
        max-width: 100%;
        border-radius: 50%;
    }

    .sec5-img {
        position: relative;
        width: 50%;
        margin: 0;
    }

    .sec5-img i.fa-solid {
        position: absolute;
        top: -1rem;
        right: -1rem;
        font-size: 4rem;
        color: #9792e4;
    }

    .sec5-txt {
        max-width: 90%;
    }

    .sec5-txt .btn {
        background-color: #9792e4;
        color: white;
        padding: 0.2rem 1rem;
    }

    .sec5-txt h4 {
        color: #9792e4;
        margin: 1rem 0;
    }
}