/**************************************
    GENERAL PAGE SETTINGS
***************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-family: 'PT Sans', sans-serif;
}

/**************************************
    GENERAL TAG SETTINGS
***************************************/
body {
    background-color: #9792e4 ;
}
nav {
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #0084fd ;
    border-bottom: 1px solid black;
}
section{
    width: 100%;
    /* debug */
}
section#first {
    margin-top: 50px;
}
section.sec.white {
    background-color: white;
}
footer{
    background-color: #333333;
    width: 100%;
    /* debug */
}
aside{
    width: 100%;
    height: 50%;
}
div.container.all {
    width: 80%;
    margin: 0 auto;
}
div.all {
    width: 95%;
    height: 100%;
    margin: 0 auto;
}
div.half {
    height: 100%;
    width: 50%;
    margin: 0 auto;
}
.btn {
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 2px 5px;
}
.btn:hover{
    color: #858585;
    cursor: pointer;
    box-shadow: 2px 2px rgba(0,0,0,0.3);
}
.btn:active {
    box-shadow: none;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
/**************************************
    NAV SETTINGS
***************************************/
nav .row{
    display: flex;
    align-content: center;
    justify-content: space-between;
}
nav ul li img {
    max-width: 75%;
}
nav ul {
    display: flex;
    list-style: none;
    margin-top: 13px;
}
nav li {
    margin-right: 20px;
}
nav li:last-child {
    margin: 0;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover{
    text-decoration: underline 1px solid white;
}
@media all and (min-width: 2500px) {
div.container.all{
    width: 50%;
    margin: 0 auto;
}
}
/**************************************
    1st SEC SETTINGS
***************************************/
/* big col settings */
#demo {
    width:calc(((100% / 3) * 2) - 2rem);
    margin: 1rem;
    display: flex;
}
#demo .demo-sx {
    width: 60%;
}
#demo .demo-dx {
    width: 40%;
    position: relative;
}
.demo-dx img{
    position: absolute;
    bottom: 0;
    left: 1rem;
    height: 90%;
    width: 90%;
    z-index: 0;
}
.demo-sx h3 {
    margin: 3rem 0;
}
.demo-sx p {
    margin-bottom: 3rem;
}
.demo-sx .btn{
    width: fit-content;
    margin-bottom: 2rem;
    background-color: #0084fd;
    color: white;
    padding: 0.2rem 1rem ;
}
/* col settings */
.col {
    width: calc((100% / 3) - 2rem);
    margin: 1rem;
    background-color: #b5ddff;
    border-radius: 1.5rem;
    padding: 0 2rem;
}
.col h3{
    color:#0084fd ;
}
.col p {
    color:#5d7183;
    font-weight: 600;
}
.col-img{
    text-align: center;
    width: 100%;
    margin: 1rem auto;
    height: fit-content;
}
.col-img i {
    font-size: 6rem;
    color:#0084fd;
    margin: 1rem 0;
}
.col-txt{
    text-align: center;
}
.col-txt p,
.col-txt h3 {
    margin: 1rem 0;
}
/**************************************
    2nd SEC SETTINGS
***************************************/
.row-2{
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.col-sec2 img{
    max-width: 100%;
    margin-bottom: 5rem;
}
.col-sec2.right img {
    max-width: 50%;
    margin-bottom: 5rem;
}
.col-sec2 {
    width: 50%;
} 
.col-sec2.right {
    background-color: white;
    border-radius: 2.5rem;
    text-align: center;
    padding: 1rem;
    max-width: 30%;
    margin-bottom: 3rem;
}
.col-sec2.left {
    height: 100%;
    padding:2%;
    width: 60%;
}
.col-sec2.left img{
    margin-top: 5rem;
}
.col-sec2.right .btn{
    width: fit-content;
    margin: auto;
    background-color: #9792e4;
    padding: 0.8rem 1rem ;
    border-radius: 50%;
}
.col-sec2.right h3,
.col-sec2.right p,
.col-sec2.left h3,
.col-sec2.left p {
    margin: 3rem 0;
}

